/* Card styling for category sections */
.card {
  width: 300px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  border: 1px solid #ccc;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
  padding: 30px;
}

.categoryHeading {
  margin-top: 50px;
  margin-bottom: 30px;
}

.pizza-image {
  width: 240px;
  flex-shrink: 0;
}

.details {
  padding: 10px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

/* Styling for images within cards */
.card img {
  border-radius: 0.75rem;
  width: 220px;
  height: 150px;
}

.description {
  color: #3F3F3F;
}

/* Vector Image Styles */
.vector {
  position: absolute;
  top: -50px;
  right: 20px;
}

.vector .vectorCard img {
  width: 40px;
}

.centeredContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.centeredContent p {
  margin-left: 5px; 
}

/* Style for category section Button Group */
button {
  margin-top: 20px;
}

.activeBtn {
  background: #F72D57;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 300px;
  height: 86px;
  flex-shrink: 0;
}

.CategoryBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background: #FFF;
  width: 300px;
  height: 86px;
  flex-shrink: 0;
}

.btnFlex {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
  justify-content: space-between;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .btnFlex {
    grid-template-columns: repeat(2, 1fr); 
  }

  .activeBtn,
  .CategoryBtn {
    width: 176px;
    height: 56px;
    flex-shrink: 0;
  }

  .card {
    width: 100%;
  }
}
