.logo-container {
  /* Add your styles for the logo container if needed */
}

/* .footerContainer {
  background-color: #f72d57;
}

.footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  justify-content: space-between;
  color: white;
  padding: 50px;
}

.socialIcon {
  font-size: 30px;
  display: flex;
  gap: 20px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer li {
  margin-bottom: 10px;
}

.footer a {
  color: white;
  text-decoration: none;
}

@media (max-width: 576px) {
  .footer {
    grid-template-columns: repeat(2, 1fr); 
  }
  .footer:nth-child(even) {
    
  }
  
} */

.footerContainer {
  background-color: #f72d57;
  color: white;
  padding: 50px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-content: space-between;
}

.socialIcon {
  font-size: 30px;
  display: flex;
  gap: 20px;

}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer li {
  margin-bottom: 10px;
}

.footer a {
  color: white;
  text-decoration: none;
}

@media (max-width: 768px) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
  }
  .logo-container {
    grid-column: span 5;
    text-align: center;
  }
  ul {
    grid-column: span 2;
  } 
  .socialIcon {
  justify-content: center;
  }
}