.banner{
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.imgContainer{
  position: relative;
}

.bannerImg2{
  position: absolute;
  top: 30px;
  right: 20px;
}

@media (max-width: 768px) {
  .banner{
    display: inline;
    padding: 20px;
  }
  .bannerImg2{
    position: absolute;
    top: 50px;
  }
  .imgContainer .bannerImg2 img, .bannerImg1 img{
    width: 100%;
  }
}