.banner {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.imgContainer {
  position: relative;
}

/* Absolute positioning for bannerImg2 within imgContainer */
.bannerImg2 {
  position: absolute;
  top: 30px;
  right: 20px;
}

.bannerHeading {
  text-align: left;
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
  .banner {
    display: inline;
    padding: 20px;
  }

  .bannerImg2 {
    position: absolute;
    top: 50px;
  }

  .imgContainer .bannerImg2 img,
  .bannerImg1 img {
    width: 100%;
  }
}
